/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
    font-family: 'Open Sans', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Dosis', sans-serif;


 *
 *= require_tree .
 *= require sweetalert
 *= require animate
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 /******************************************* HEADER ******************************************************/

 .navbar-nav {
   width: 100%;
   text-align: center;
   overflow: hidden;
  li {
     float: none;
     display: inline-block;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
   }
 }
 @media only screen and (max-width: 330px) {
    .navbar-nav li{
      display: block;
    }
}
/******************************************* HEADER ******************************************************/

 * {
   margin: 0;
 }
 html, body {
   height: 100%;
 }
 #wrapper {
     min-height:100%;
     display: block;
}

 #footer {
   clear: both;
   height: 50px;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #efefef;
   text-align: center;
   border-top: 1px solid #d9d9d9;
 }
 @media only screen and (max-width: 285px) {
    #footer{
      height: 75px;
    }
}
 #footer_text{
   font-family: 'Open Sans', sans-serif;
   a{
     margin-left: 10px;
     text-decoration: none;
     color: black;
     img{
       opacity: .6;
     }
   }
   a:hover img{
     opacity: 1;
   }
 }

 /******************************************* HOME ******************************************************/

#home_header{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 47px;
  max-width: 24em;
  letter-spacing: 2px;
  line-height: 140%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#home_header_2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 32px;
  width: 100%;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0 20px 0;
  margin-bottom: 0;
}
#boxs{
  min-height: 404px;
  min-width: 100%;
  overflow: auto;
  display: flex;
}
.box{
  align-items: stretch;
  min-height: 100%;
  max-height: 100%;
  width: 33%;
  float: left;
  margin-top: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 40px;
  hr{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-top: 1px solid #bfbfbf;
  }
}
@media only screen and (max-width: 600px) {
  #boxs{
    display: block;
  }
   .box{
     width: 100%;
   }
}
.box:first-of-type{

}
.box:nth-of-type(2){
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.box:nth-of-type(3){

}

.home_image{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.third{
  margin-top: -15px;
  margin-bottom: -15px;
  width: 36%;
}

.box_header{
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
}
.box_info{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
 /******************************************* HOME ******************************************************/


 /*******************************************PROJECT SHOW******************************************************/

#project_title{
  display: inline-block;
  font-size: 40px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
#project_title_2{
  font-size: 32px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
.preview_pic{
  width: 620px;
}
@media only screen and (max-width: 655px) {
  .preview_pic{
    width: 95%;
  }
}
#project_text{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.project_div{
    padding-top: 10px;

}
@media (min-width: 1200px) {
  .project_div {
    width: 1200px;
  }
}
/*******************************************PROJECT SHOW******************************************************/






/*******************************************PROJECT INDEX******************************************************/

#listing_page_header{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}
.listing{
  width: 75%;
  max-width: 1430px;
  padding: 20px;
  border-bottom: .5px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  color: black;
}
a{
  text-decoration: none;
}
 a:hover{
    text-decoration: none;
  }
.listing h3{
  display: inline;
  font-family: 'Montserrat', sans-serif;
}
.listing p{
  max-width: 50%;
  display: inline-block;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.listing_pic{
  width: 150px;
  display: inline-block;
  float: right;
  margin-top: -20px;
}


.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #666;
    transition: width .5s ease;
}
.listing:hover .sliding-u-l-r-l:before {
    width: 100%;
    background: #666;
    transition: width .5s ease;
}
.listing:hover .sliding-u-l-r-l:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


@media only screen and (max-width: 920px) {
    .listing{
      width: 100%;
      p{
        max-width: 75%;
      }
    }
}
@media only screen and (max-width: 460px) {
    .listing_pic{
      display: block;
      float: none;
      margin-top: 5px;
    }
    .listing p{
      max-width: 100%;
    }
}


/*******************************************PROJECT INDEX******************************************************/



/******************************************* CONTACT ******************************************************/

#contact_header{
  font-family: 'Montserrat', sans-serif;

}
.message_area{
  min-height: 300px;
  max-width: 100%;
}
.return_area{
  max-width: 100%;
}

/******************************************* CONTACT ******************************************************/
